.greetingForm {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.5);
}

.inputAndButtonContainer {

}

.error {
color: #cc0000;
}

.input {
}

.input:focus {

}

.errorInput {
border-color: #cc0000;

}

.button {

}

.button:focus {
    color: #0059b3;
}

.button:active {

}

.button:disabled {

    color: #00cc22;
}

.text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

.greeting {
    color: #212A34;

}
